@import "tailwindcss/components";

@layer components {
  .footer-container {
    @apply bg-dark text-white p-6 text-center w-full mt-auto;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }

  .footer-text {
    @apply text-sm m-0 text-[#cccccc] tracking-wide;
  }
}
